@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular_0.ttf);
}

@font-face {
    font-family: Poppins Light;
    src: url(../fonts/Poppins-Light_0.ttf);
}

@font-face {
    font-family: Poppins Medium;
    src: url(../fonts/Poppins-Medium_0.ttf);
}

@font-face {
    font-family: Poppins SemiBold;
    src: url(../fonts/Poppins-SemiBold_0.ttf);
}

@font-face {
    font-family: Poppins Bold;
    src: url(../fonts/Poppins-Bold_0.ttf);
}

header {
    background-color: #ffffff;
    height: 198px;
    width: 100%;
}

.logo {
    color: #211f20;
    font: 500 18px / 24px Poppins Medium;
    text-align: center;
    line-height: 2;
    text-transform: uppercase;
    width: 100px;
}

.search {
    background-color: #f8f8f8;
    border: none;
    color: #b3b3b3;
    font: italic 300 10px / 24px Poppins Light;
    padding: 6px;
    outline: none;
    width: 435px;
}

#search {
    margin-top: 42px;
    background-color: #f8f8f8;
    height: 32px;
    width: 521px;
    text-align: left;
}

#search i {
    font-size: 12px;
    color: #b3b3b3;
    padding-left: 10px;
}

.login a {
    color: #211f20;
    font: 300 12px / 24px Poppins Light;
}

.login {
    margin-top: 50px;
}

.login img {
    margin-left: 15px;
    vertical-align: text-bottom;
}

ul.nav>li>a {
    color: #211f20;
    font: 500 16px / 24px Poppins Medium;
    text-transform: uppercase;
}

header ul.list-unstyled>li>a {
    color: #211f20;
    font: 300 15px / 34px Poppins Light;
    padding: 10px 40px;
}

.dropdown-menu {
    box-shadow: 0px 0px 30px 0.00px rgba(0, 0, 0, 0.1);
    background: #f8f8f8;
    border: #f8f8f8;
}
.logo>a>img {
    display: inline;
}
.logo>div {
    padding-top: 12px;
}
#cart {
    display: inline;
}
.button-search {
    background: none;
    border: none;
}

/*PRODUCT*/

/*section {
    background: #f8f8f8;
    padding: 30px 0;
}*/

.thumbnail-pull {
    width: 86%;
    float: right;
}
.thumbnails .image-additional-pull {
    margin-left: 10px;
    float: left;
}
.thumbnails > li {
    margin-left: 0px; 
}


.sold {
    position: absolute;
    bottom: 40px;
    right: 29px;
    width: 40px;
    height: 40px;
    background: red;
    border-radius: 50%;
    color: #fff;
    padding: 9px 2px;
    font-size: 13px;
    box-shadow: 2px 2px 1px 0px #fff
}

.product-thumb .image {
    position: relative;
}

.box-options {
    background: #fff;
}
.right-box>.btn-group {
    display: block;
}
.right-box>.btn-group .nav>li {
    width: 50%;
    text-align: center;
}
.right-box .nav-tabs>li>a {
    text-transform: none;
}
.right-box .nav-tabs>li>a, .right-box .nav-tabs>li>a:focus, .right-box .nav-tabs>li>a:hover { 
    border:2px solid #fff;
    border-radius: 0;
    background: none;
}
.right-box .nav-tabs>li.active>a, .right-box .nav-tabs>li.active>a:focus, .right-box .nav-tabs>li.active>a:hover { 
    border:2px solid #c6dded;
    border-radius: 0;
    color:#0070c0;
}
.right-box .nav-tabs>li>a {
    margin: 0;
}
.right-box>.btn-group .nav>li:first-child {
    border-right: 3px solid #f8f8f8;
}

.print-thumb {
    position: absolute; 
    top: 133px; 
    left: 256px;
    width: 228px;
}
.print-layer {
    width:1062px;
}
.breadcrumb-product li {
    display: block;
    float: left;
    margin: 0;
    padding: 0 10px 0 10px;
    border-right: 1px solid #000;
    line-height: 1.071;
    text-align: center;
}
.breadcrumb-product li:last-child {
    border-right: 0;
}
.breadcrumb-product li:first-child {
    padding: 0 10px 0 0;
}
.breadcrumb-product li a {
    font-size: 14px;
    font-family: Poppins Light;
    color: rgb(33, 31, 32);
}
.breadcrumb-product {
    padding: 0;
    overflow: hidden;
}
h1, h2.title {
    font-size: 28px;
    font-family: Poppins Medium;
    color: rgb(33, 31, 32);
    text-transform: uppercase;
    line-height: 1.145;
    text-align: left;

}
.short_description {
    font-size: 14px;
    font-family: Poppins Light;
    color: rgb(33, 31, 32);
    line-height: 1.429;
    padding: 10px 0;
}
.price {
    font-size: 22px;
    font-family: Poppins Light;
    color: rgb(33, 31, 32);
    line-height: 1.458;
}
.price>span {
    font-family: Poppins Medium;
}
/*#button-cart {
    border-width: 1px;
    border-color: rgb(102, 255, 51);
    border-style: solid;
    background-color: rgba(102, 255, 51, 0);
    width: 167px;
    height: 33px;
    font-size: 17px;
    font-family: Poppins Medium;
    color: rgb(33, 31, 32);
    line-height: 1.458;
    text-align: center;
    float: right;
}
#button-cart:hover {
    background-color: rgb(102, 255, 51);
    color:#fff;
    box-shadow: 0px 0px 30px 0.00px rgba(0, 0, 0, 0.1);
}*/
#buy {
    overflow: hidden;
    padding: 20px 10px;
    margin: 0 -10px;
}
/*.viewed {
    background-color: rgb(248, 248, 248);
    width: 100%;
    height: 35px;
    text-align: center;
    font-size: 15px;
    font-family: Poppins Light;
    color: rgb(33, 31, 32);
    line-height: 2.4;
    margin-bottom: 20px;
}*/
.description {
  font-size: 18px;
  font-family: Poppins Light;
  color: rgb(33, 31, 32);
  line-height: 1.333;
  text-align: left;
  margin: 40px 0;
}
.sold {
    display: none;
}
.s1-text1 > a + a:before {
    content: ' | ';
    padding: 0;
}
div#tab-option {
    font-size: 12px;
}
div#tab-option .form-control {
    height: 26px;
    padding: 2px 2px;
    border-radius: inherit;
}
div#tab-option td[class^='ddd'] {
    width: 20%;
}
div#tab-option td:first-child {
    width: 15%;
}
div#tab-option td[class^='dde'] {
    width: 1%;
}
div#tab-option select {
    padding-left: 0;
}
div#tab-option .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding:4px;
}
.category-level {
    font-family: "PoppinsMedium";
}
#menu .dropdown-inner a {
    padding: 6px 20px;
    font-size: 14px;
    font-family: "PoppinsLight"
}
.dropdown-menu li > a:hover, #menu .see-all:hover, #menu .see-all:focus {
    background-color: #3f3f3f;
    background-image: none;
}
.slogan {
    position: absolute;
    top: -41px;
    left: 23px;
    font-size: 16px
}